* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --callout-soft-rgb: 244, 244, 250;
  --background-start-rgb: 230, 230, 245;
  --background-end-rgb: 240, 240, 245;
  --callout-rgb: 255, 255, 255;
  --callout-border-rgb: 200, 200, 200;
  --foreground-rgb: 30, 30, 200;
  --font-family: sans-serif;
}

// @media (prefers-color-scheme: 'dark') {
//   :root {
//     --background-start-rgb: 70, 70, 70;
//     --background-end-rgb: 70, 70, 85;
//     --foreground-rgb: 250, 250, 250;
//   }
// }

* {
  font-family: var(--font-family);
}

input,
button {
  border: 1px solid rgb(var(--callout-border-rgb));
  border-radius: .2rem;
  padding: .8rem .6rem;
  outline: none;
}

body {

  min-height: 100vh;
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
}

.flex {
  display: flex;

  &.wrappable {
    flex-wrap: wrap;
  }

  &.gap1 {
    gap: 1rem;
  }

  &.gap2 {
    gap: 2rem;
  }

  &.gap05 {
    gap: .5rem;
  }

  &.columned {
    flex-direction: column;
  }

  &.justified-center {
    justify-content: center;
  }

  &.aligned-center {
    align-items: center;
  }
}

.pd1 {
  padding: 1rem;
}

.pd2 {
  padding: 2rem;
}

.pd3 {
  padding: 3rem
}